<div layout="row" layout-wrap>

  <div class="about" layout="column" flex="100" flex-gt-sm="100" flex-gt-md="100">
    <div class="profile-box info-box general md-whiteframe-1dp" layout="column">
      <header class="md-accent-bg">
        <div class="title" style="display: inline-block">Login Information</div>
        <md-icon id="edit-general-information" ng-click="vm.editUserProfile($event)" md-font-icon="icon-pencil"
                 style="cursor: pointer;float: right"
                 class="white-text ng-isolate-scope md-font icon-cog material-icons md-default-theme"></md-icon>
      </header>

      <div class="content profiledata">

        <div class="info-line">
          <div class="title" >Email</div>
          <div class="info">{{vm.about.login.email}}</div>
          <md-input-container ng-if="vm.editLogin !== false" class="md-block" md-no-float>
            <input type="text" name="gender" ng-model="vm.about.login.email" placeholder="Email" required>
          </md-input-container>
        </div>

        <div class="info-line">
          <div class="title">Password</div>
          <div class="info">{{vm.about.login.password}}</div>
          <md-input-container ng-if="vm.editLogin !== false" class="md-block" md-no-float>
            <input type="text" name="password" placeholder="New Password" ng-model="vm.about.login.newpassword" required>
          </md-input-container>
            <md-input-container ng-if="vm.editLogin !== false" class="md-block" md-no-float>

            <input type="text" name="confirm-password" placeholder="Confirm Password" ng-model="vm.about.login.confirmpassword" required>
          </md-input-container>

        </div>

      </div>
      <md-button ng-if="vm.editLogin !== false" type="" class="md-raised md-accent" aria-label="LOG IN">
        Save
      </md-button>
    </div>

    <div class="profile-box info-box work md-whiteframe-1dp" layout="column">
      <header class="md-accent-bg">
        <div class="title" style="display: inline-block">Company Details</div>
        <md-icon id="edit-work" ng-click="vm.editUserProfile($event)" md-font-icon="icon-pencil"
                 style="cursor: pointer;float: right"
                 class="white-text ng-isolate-scope md-font icon-cog material-icons md-default-theme"></md-icon>
      </header>

      <div class="content profiledata">

        <div class="info-line">
          <div class="title">Company</div>
          <div class="info">{{vm.about.work.company}}</div>
          <md-input-container ng-if="vm.editWork !== false" class="md-block" md-no-float>
            <input type="text" name="gender" ng-model="vm.about.work.company" placeholder="Company" required>
          </md-input-container>
        </div>

        <div class="info-line">
          <div class="title" >Business</div>
          <div class="info">{{vm.occupation.selected}}</div>
          <md-input-container ng-if="vm.editWork !== false" class="md-block" md-no-float>
            <md-select ng-model="vm.occupation.selected"
                       ng-change="vm.occupation.change(vm.occupation.selected)">
              <md-option style="color: black !important;"  ng-repeat="entry in vm.occupation.data">
                {{entry.name}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>

          <div class="info-line">
            <div class="title">Street</div>
            <div class="info">{{vm.about.work.street}}</div>
            <md-input-container ng-if="vm.editWork !== false" class="md-block" md-no-float>
              <input type="text" name="gender" ng-model="vm.about.work.street" placeholder="Street" required>
            </md-input-container>
          </div>

          <div class="info-line">
            <div class="title">Addition</div>
            <div class="info">{{vm.about.work.addition}}</div>
            <md-input-container ng-if="vm.editWork !== false" class="md-block" md-no-float>
              <input type="text" name="gender" ng-model="vm.about.work.addition" placeholder="Addition" required>
            </md-input-container>
          </div>

          <div class="info-line">
            <div class="title">Postal Code</div>
            <div class="info">{{vm.about.work.postalcode}}</div>
            <md-input-container ng-if="vm.editWork !== false" class="md-block" md-no-float>
              <input type="text" name="gender" ng-model="vm.about.work.postalcode" placeholder="Postal Code" required>
            </md-input-container>
          </div>

          <div class="info-line">
            <div class="title">Location</div>
            <div class="info location">{{vm.about.work.location}}
            </div>
            <md-input-container ng-if="vm.editWork !== false" class="md-block" md-no-float>
              <input type="text" name="gender" ng-model="vm.about.work.location" placeholder="Locations" required>
            </md-input-container>
          </div>
          <div class="info-line">
            <div class="title">Province</div>
            <div class="info location">{{vm.about.work.province}}
            </div>
            <md-input-container ng-if="vm.editWork !== false" class="md-block" md-no-float>
              <input type="text" name="gender" ng-model="vm.about.work.location" placeholder="Locations" required>
          </md-input-container>
        </div>
          <div class="info-line">
            <div class="title">Country</div>
            <div class="info">{{vm.about.work.country}}</div>
            <md-input-container ng-if="vm.editWork !== false" class="md-block" md-no-float>
              <input type="text" name="gender" ng-model="vm.about.work.country" placeholder="Country" required>
            </md-input-container>
          </div>
          <div class="info-line">
            <div class="title">Phone</div>
            <div class="info">{{vm.about.work.tel}}</div>
            <md-input-container ng-if="vm.editWork !== false" class="md-block" md-no-float>
              <input type="text" name="gender" ng-model="vm.about.work.tel" placeholder="Phone" required>
            </md-input-container>
          </div>
          <div class="info-line">
            <div class="title">Fax</div>
            <div class="info">{{vm.about.work.fax}}</div>
            <md-input-container ng-if="vm.editWork !== false" class="md-block" md-no-float>
              <input type="text" name="gender" ng-model="vm.about.work.fax" placeholder="Phone" required>
            </md-input-container>
          </div>
          <div class="info-line">
            <div class="title">E-mail</div>
            <div class="info">{{vm.about.work.email}}</div>
            <md-input-container ng-if="vm.editWork !== false" class="md-block" md-no-float>
              <input type="text" name="gender" ng-model="vm.about.work.email" placeholder="Phone" required>
            </md-input-container>
          </div>
          <div class="info-line">
            <div class="title">About Us</div>
            <div class="info">{{vm.about.work.about}}</div>
            <md-input-container ng-if="vm.editWork !== false" class="md-block" md-no-float>
              <input type="text" name="gender" ng-model="vm.about.work.about" placeholder="About Us" required>
            </md-input-container>
          </div>
      </div>
      <md-button ng-if="vm.editWork !== false " type="" class="md-raised md-accent" aria-label="LOG IN">
        Save
      </md-button>
    </div>

    <div class="profile-box info-box contact md-whiteframe-1dp" layout="column">
      <header class="md-accent-bg">
        <div class="title" style="display: inline-block">Contact</div>
        <md-icon id="edit-contact" ng-click="vm.editUserProfile($event)" md-font-icon="icon-pencil"
                 style="cursor: pointer;float: right"
                 class="white-text ng-isolate-scope md-font icon-cog material-icons md-default-theme"></md-icon>
      </header>
      <div class="content profiledata">

        <div class="info-line">
          <div class="title">First Name</div>
          <div class="info">{{vm.about.contact.firstname}}</div>
          <md-input-container ng-if="vm.editContact !== false" class="md-block" md-no-float>
            <input type="text" name="gender" ng-model="vm.about.contact.firstname" placeholder="First Name" required>
          </md-input-container>
        </div>

        <div class="info-line">
          <div class="title" translate="PROFILE.LASTNAME">Last Name</div>
          <div class="info">{{vm.about.contact.lastname}}</div>
          <md-input-container ng-if="vm.editContact !== false" class="md-block" md-no-float>
            <input type="text" name="gender" ng-model="vm.about.contact.lastname" placeholder="Last Name" required>
          </md-input-container>
        </div>
        <div class="info-line">
          <div class="title">Occupation</div>
          <div class="info">{{vm.about.contact.occupation}}</div>
          <md-input-container ng-if="vm.editContact !== false" class="md-block" md-no-float>
            <input type="text" name="gender" ng-model="vm.about.contact.occupation" placeholder="Occupation" required>
          </md-input-container>
        </div>

        <div class="info-line">
          <div class="title">Street</div>
          <div class="info">{{vm.about.contact.street}}</div>
          <md-input-container ng-if="vm.editContact !== false" class="md-block" md-no-float>
            <input type="text" name="gender" ng-model="vm.about.contact.street" placeholder="Street" required>
          </md-input-container>
        </div>

        <div class="info-line">
          <div class="title">Addition</div>
          <div class="info">{{vm.about.contact.addition}}</div>
          <md-input-container ng-if="vm.editContact !== false" class="md-block" md-no-float>
            <input type="text" name="gender" ng-model="vm.about.contact.addition" placeholder="Addition" required>
          </md-input-container>
        </div>

        <div class="info-line">
          <div class="title">Postal Code</div>
          <div class="info">{{vm.about.contact.postalcode}}</div>
          <md-input-container ng-if="vm.editContact !== false" class="md-block" md-no-float>
            <input type="text" name="gender" ng-model="vm.about.contact.postalcode" placeholder="Postal Code" required>
          </md-input-container>
        </div>

        <div class="info-line">
          <div class="title">Location</div>
          <div class="info location">{{vm.about.contact.location}}
          </div>
          <md-input-container ng-if="vm.editContact !== false" class="md-block" md-no-float>
            <input type="text" name="gender" ng-model="vm.about.contact.location" placeholder="Locations" required>
          </md-input-container>
        </div>
        <div class="info-line">
          <div class="title">Country</div>
          <div class="info">{{vm.about.contact.country}}</div>
          <md-input-container ng-if="vm.editContact !== false" class="md-block" md-no-float>
            <input type="text" name="gender" ng-model="vm.about.contact.country" placeholder="Country" required>
          </md-input-container>
        </div>
          <div class="info-line">
            <div class="title">Phone</div>
            <div class="info">{{vm.about.contact.tel}}</div>
            <md-input-container ng-if="vm.editContact !== false" class="md-block" md-no-float>
              <input type="text" name="gender" ng-model="vm.about.contact.tel" placeholder="Phone" required>
            </md-input-container>
          </div>
          <div class="info-line">
            <div class="title">Fax</div>
            <div class="info">{{vm.about.contact.fax}}</div>
            <md-input-container ng-if="vm.editContact !== false" class="md-block" md-no-float>
              <input type="text" name="gender" ng-model="vm.about.contact.fax" placeholder="Phone" required>
            </md-input-container>
          </div>
            <div class="info-line">
              <div class="title">Mobile</div>
              <div class="info">{{vm.about.contact.mobile}}</div>
              <md-input-container ng-if="vm.editContact !== false" class="md-block" md-no-float>
                <input type="text" name="gender" ng-model="vm.about.contact.mobile" placeholder="Phone" required>
              </md-input-container>

          </div>
        </div>
      </div>
      <md-button ng-if="vm.editContact !== false" class="md-raised md-accent" aria-label="LOG IN">
        Save
      </md-button>
    </div>
  </div>
