<md-dialog id="upgrade" flex="50" aria-label="Decisor Dialog">
  <md-toolbar class="md-accent md-hue-2">
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
      <span class="title">Upgrade</span>
      <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" tranlate
                 translate-aria-label="CONTACT.CLOSE_DIALOG">
        <md-icon md-font-icon="icon-close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content ms-scroll>

    <h2>Your selection</h2>


    <div class="servicecolumn" layout="row" flex="100" flex-gt-sm="100" flex-gt-md="100" layout-wrap>


      <div flex layout="column" layout-align="start"
           style="min-width: 200px; border: solid 1px #DADADA;margin:0 5px 15px 5px;
    padding: 0 15px 30px 15px;">
        <h3>Plan</h3>
        <div ng-repeat="abo in vm.selected | filter: vm.filterFunc">
          <ul>
            <li><p><b>{{abo.title}}</b></p></li>
            <li><p>Price:</p><span>{{abo.price2}}</span> </li>
            <li><p>Users:</p><span ng-repeat="functions in abo.functions">{{functions.users}}</span></li>
            <li><p>Storage:</p><span ng-repeat="functions in abo.functions">{{functions.storage}}</span></li>
            <li><p>Contract term:</p><span>{{abo.duration}}</span></li>
            <li><p>Payment time:</p><span>{{abo.payementTime}}</span></li>
          </ul>
        </div>
      </div>

      <div flex layout="column" layout-align="start"
           style="min-width: 200px; border: solid 1px #DADADA;margin:0 5px 15px 5px;
    padding:  0 15px 30px 15px;">

        <h3>Services</h3>
        <div ng-repeat="servdescription in vm.selected">
          <ul>
            <li>{{servdescription.offer2}}</li>
            </ul>
        </div>

      </div>
    </div>

    <div ng-if="vm.PromotionCode!=''">
      <div>Promotion Code:<span>{{vm.PromotionCode}}</span></div>
      <div ng-if="vm.isPromotionError==false">
        <div ng-if="vm.isSinglePromotion==true">{{vm.currentPromotion.caption}}</div>

        <div ng-if="vm.isSinglePromotion==false">
          <md-select name="SelectedPromotion" ng-model="vm.SelectedPromotion">
            <md-option ng-value="0">Please select your present</md-option>
            <md-option ng-repeat="promotion in vm.currentPromotion" ng-value="promotion.name">{{promotion.caption}}</md-option>
          </md-select>
        </div>
      </div>
      <div ng-if="vm.isPromotionError==true">Promotion Code was invalid....</div>
    </div>

    <md-button ng-click="vm.closeDialog()" style="float: right" type="submit" class="md-primary md-raised" ng-disabled="vm.form.$invalid">
      Confirm
    </md-button>

  <md-button ng-click="vm.closeDialog()" style="float: right" type="submit" class="md-primary md-raised" ng-disabled="vm.form.$invalid">
   Cancel
  </md-button>




  </md-dialog-content>


</md-dialog>
