<div class="simple-table-container md-whiteframe-1dp" ng-repeat="group in vm.groups">
  <div class="table-title" style="display: inline-block">
    {{group.groupname}}
  </div>
  <md-button ng-click="vm.collapse(group)" style="display: inline-block;float: right; margin-top: 20px;">
  <md-icon ng-if="group.clicked == false" md-font-icon="icon-chevron-double-up"></md-icon>
  <md-icon ng-if="group.clicked == true" md-font-icon="icon-chevron-double-down"></md-icon>
  </md-button>
  <table id="{{group.groupname}}-{{group.groupid}}" ng-if="group.clicked == true" class="simple" ms-responsive-table>
    <thead>
      <tr>
        <th></th>
        <th class="secondary-text">
          <div class="table-header">
            <span class="column-title">Group</span>
          </div>
        </th>
        <th class="secondary-text">
          <div class="table-header">
            <span class="column-title">Group description</span>
          </div>
        </th>
        <th class="secondary-text">
          <div class="table-header">
            <span class="column-title">User</span>
          </div>
        </th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><img class="avatar" ng-src="{{ group.avatar }}"></td>
        <td>{{ group.groupname }}</td>
        <td>{{ group.description }}</td>
        <td>
          <div ng-repeat="list in group.lists | filter:{ main: false , label: 'user'}">
            <ul dnd-list="list.people"
            dnd-allowed-types="vm.allowedTypesUser"
            style="list-style: none;display: inline-block;width: 100%;">
            <li ng-repeat="person in list.people"
            dnd-draggable="person"
            dnd-type="person.type"
            dnd-disable-if="person.type == 'unknown'"
            dnd-moved="list.people.splice($index, 1)"
            dnd-effect-allowed="move"
            class="background-{{person.type}}"
            style="display: inline-block">

            <dnd-nodrag>
            <div dnd-handle class="handle">
              <img class="avatar" ng-src="{{ person.avatar }}" style="margin-bottom: 5px">
              <md-tooltip><span>{{person.name}}</span></md-tooltip>
            </div>
          </dnd-nodrag>
        </li>
        <li class="dndPlaceholder">
          Drop any <strong>{{vm.allowedTypesUser.join(' or ')}}</strong> here
        </li>
      </ul>
    </div>
  </td>
  <td>
    <md-button class="add-file-button md-fab md-warn"
    ng-click="vm.EditGroupDialog($event)" aria-label="Add file"
    style="display: inline-block">
    <md-icon md-font-icon="icon-border-color"></md-icon>
  </md-button>
  <md-button class="add-file-button md-fab md-warn"
  ng-click="vm.DeleteGroupDialog($event)" aria-label="Add file"
  style="display: inline-block">
  <md-icon md-font-icon="icon-block-helper"></md-icon>
  </md-button>
  </td>
  </tr>
  </tbody>
  </table>
</div>