<md-dialog class="add-user" aria-label="Add User">
  <form class="md-inline-form">
    <md-toolbar class="md-accent md-hue-2">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <span class="title">Add User</span>
        <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" tranlate
                   translate-aria-label="CONTACT.CLOSE_DIALOG">
          <md-icon md-font-icon="icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content ms-scroll>

      <!--<md-select class="simplified" ng-model="vm.accounts.current"
                 ng-change="vm.accounts.change(vm.accounts.current)">
        <md-option ng-repeat="channel in vm.accounts.data">
          <md-icon md-font-icon="{{channel.icon}}"></md-icon>
          {{channel.name}}
        </md-option>
      </md-select>-->

      <md-input-container class="md-block">
        <label>User name or E-Mail Address</label>
        <input ng-model="vm.form.account" type="text">
      </md-input-container>

      <md-button ng-click="vm.closeDialog()" style="float: right" type="submit" class="md-primary md-raised" ng-disabled="vm.form.$invalid">
        Add
      </md-button>

      <md-button ng-click="vm.closeDialog()" style="float: right" type="submit" class="md-primary md-raised">
        Cancel
      </md-button>
    </md-dialog-content>


  </form>
</md-dialog>
