  <!-- This is a template of zm-profile-group component -->
  <header class="md-accent-bg addgrp" layout="row" layout-align="space-between center" >
  	<div class="title">Groups <div class="groupovrvw text-boxed red-bg white-fg m-0"><span ng-bind="group.length"></span> 
  		groups</div></div>
  		<!-- ADD CONTACT BUTTON -->
  		<md-button class="add-file-button md-fab md-warn inhead"
  		ng-click="vm.NewGroupDialog($event)" aria-label="Add file">
  		<md-icon md-font-icon="icon-plus">
  	</md-icon>
  </md-button>
  <!-- / ADD CONTACT BUTTON  -->
</header>