<div  id="sub-user" layout="column" layout-wrap>
  <div ng-repeat="list in vm.lists | filter:{ main: true, label: 'users'}" class="col-md-4">

        <div class="sub-panel-body"  flex-gt-md="100">
        <ul dnd-list="list.people"
            dnd-allowed-types="list.allowedTypes"
            style="list-style: none;display: inline-block;width: 100%;">


          <li ng-repeat="person in list.people"
              dnd-draggable="person"
              dnd-type="person.type"
              dnd-disable-if="person.type == 'unknown'"
              dnd-effect-allowed="move"
              class="background-{{person.type}}">

            <dnd-nodrag>
              <div dnd-handle class="handle">
                <img class="avatar" ng-src="{{ person.avatar }}">
                <div class="name">
                  <span>{{person.name}}</span>
                </div>
              </div>
            </dnd-nodrag>
          </li>

          <li class="dndPlaceholder">
            Drop any <strong>{{list.allowedTypes.join(' or ')}}</strong> here
          </li>

        </ul>
          </div>
      </div>
  </div>

