#profile{
	#user-section{
		header{
			background-color: #06A5E8;
			height: 52px;
			padding-left: 30px; 
			padding-top: 20px;
		}
		md-tabs{
			label{
				border-bottom: solid 1px #06A5E8;
				color: #333947;
				font-size: 12px;  
			}
		}
	}
}