#profile {

  .pt-respon {

    @media (max-width: 1280px) {

      -webkit-box-orient: vertical !important;
      -webkit-box-direction: normal !important;
      -webkit-flex-direction: column !important;
      -ms-flex-direction: column !important;
      flex-direction: column !important;
      -webkit-box-flex: 1 !important;
      -webkit-flex: 1 1 100% !important;
      -ms-flex: 1 1 100% !important;
      flex: 1 1 100% !important;
      max-width: 100% !important;
    }
  }

  .price-tables {
    margin-bottom: 48px;

    .price-table {
      min-width: 32.4% !important;

      flex: 1 1 32.4%;
      max-width: 32.4%;

    }

  }
  .margin-zero {
    margin: 0 0 0 3px !important;
  }

  .myaboleft {
    min-width: 100% !important;
    padding: 15px;
    //box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 0px 4px 0px rgba(0, 0, 0, 0.12);
    min-height: 228px;





  ul.abomy {
      font-size: 12px;
      font-weight: 500;
      color: #B5B5B5;
      width: 97%;
      list-style-type: none;
      padding-left: 0px;
      margin-top: 3px;

      li {
        padding-bottom: 20px;

        .planchosen {
          margin-left: 15px;
          display: inline-block;
          font-size: 15px;
          color: #039BE3;
          padding-bottom: 8px;
          padding-top: 5px;

          span {
            width: 120px;
            display: inline-table;
          }

          md-button {
            height: 20px;
            color: #84B05B !important;
          }
        }
      }
    }
  }

  .myaboright {
    min-width: 100% !important;
    padding: 15px;
    margin-top: 15px;
    //box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 0px 4px 0px rgba(0, 0, 0, 0.12);
    min-height: 228px;




.aboadditional {
      color: #B5B5B5;
      font-size: 12px;
      font-weight: 500;
      margin-top: 3px;
    }

    ul.abopack {
      width: 97%;
      padding-left: 0px;
      font-size: 15px;
      font-weight: 500;
      color: #039BE3;
      list-style-type: none;
      margin-top: 7px;

      li {

      }
    }
  }

  .invoices {
    min-width: 100% !important;
    padding: 10px;
    min-height: 500px;






v-pane {

      v-pane-content {
        font-size: 12px;
        font-weight: 500;
        padding-bottom: 4px;
        color: #3b3b3b;
        width: 400px;
        list-style-type: none;
        padding-left: 0px;
        margin-top: 3px;

        .planchosen {
          margin-left: 15px;
          display: inline-block;
          font-size: 15px;

          .invoicebutton {
            color: #039BE3 !important;
            text-transform: none;
            display: inline-table;
            margin-left: 1px
          }

          span {
            width: 150px;
            display: inline-table;
          }
        }
        .deletetext {
          margin-left: 15px;
          display: inline-block;
          font-size: 15px;

          .invoicebutton {
            color: #e3522c !important;
            text-transform: none;
            display: inline-table;
            float: right;
            margin-top: 15px;
          }

          span {
            width: 100%;
            display: inline-table;
          }

          md-select {

            margin-top:-7px;
          }
        }

      }
    }
  }

  .profile-box {

    md-tabs {


      .panel-body {
        margin: 0;
        min-height: 451px;

        ul {
          padding: 0;

          li {
            list-style: none;
            width: 25%;
            display: inline-table;
            padding-bottom: 20px;

            .contactplan {
              width: 90px;
              margin: 0 auto;

              .avatar {
                width: 50px;
                height: 50px;
                margin: 0 auto;
                display: block;
              }
              .name {
                padding-top: 10px;
                display: block;
                width: 90px;
                text-align: center;
              }
            }
          }
        }
      }
      span.plantab {

        transition: all ease-out 0.2s;
        color: #ffffff !important;
        text-transform: none;
        font-size: 12.5pt;

        &:active, &:focus, &:hover, &:visited {
          transition: all ease-out 0.2s;

          opacity: 0.7;

        }
      }
    }
    md-tab-item.md-tab.ng-scope.ng-isolate-scope.md-ink-ripple {
      padding: 10px 24px;
    }
  }

}
